body {
    margin: 0;
}

.search-container {
    width: 85%;
    min-height: 250px;
    margin: 5% auto;
    border: 1px solid #000014;
}

.search-container img {
    float: left;
    width: 25%;
    height: 250px;
    padding: 1%;
}

.detail-cont {
    font-size: 17px;
    float: left;
    margin: auto 0 auto 5%;
    width: 70%;
    min-height: 250px;
    border-radius: 1%;
}

.choco-name {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000014;
}